/* GLOBAL */

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Asap";
  line-height: 1.5;
}

body {
  margin: 0 auto;
  width: 68%;
}
.clear {
  clear: both;
}

/* HEADER */

.header__line ul {
  margin: 0;
  text-align: center;
}

.header__line ul li {
  margin: 0 20px;
  list-style: none;
  background-color: rgb(228, 0, 43);
  width: 40px;
  height: 24px;
  display: inline-block;
}

.header__sign {
  padding: 18px 20px;
}
.header__sign img {
  float: left;
}

.header__sign p {
  display: inline;
  float: right;
  padding-right: 30px;
  font-size: 16px;
  font-weight: bold;
}

.header__sign p span {
  color: rgb(228, 0, 43);
  padding: 15px;
}

.header__sign p a {
  text-decoration: none;
  color: black;
  padding: 15px;
}

/* NAVIGATION BAR  */

.header__navbar {
  margin: 0;
  background-color: #f8f8f8;
}

.navbar__left {
  float: left;
  width: 52%;
}
.navbar__left ul {
  background-color: unset;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.navbar__left ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
  padding-right: 1px;
}

.navbar__left ul li a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
  font-size: 16px;
  padding: 21px 15px;
  color: black;
}

.navbar__left ul li a:hover {
  background-color: black;
}

.navbar__left ul li a:hover {
  background-color: black;
  color: white;
}

.navbar__left ul li.active {
  background-color: black;
}

.navbar__left ul li.active a {
  background-color: black;
  color: white;
}

.navbar__center {
  float: left;
  width: 30%;
  padding-top: 18px;
}

.navbar__center h4 {
  display: inline;
  font-size: 14px;
  color: #707070;
  font-weight: normal;
}

.city {
  color: black;
  font-weight: bold;
  padding-left: 15px;
}

.change {
  padding-left: 50px;
}

.navbar__center a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.navbar__right {
  float: left;
  width: 18%;
  padding: 18px 0;
  padding-left: 96px;
}

.navbar__right a {
  font-size: 16px;
  color: #e4002b;
  line-height: 1.2;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

/* CAROUSEL */
.carousel img {
  width: 100%;
  margin: 0;
  position: relative;
}

.carousel__slick-dots {
  position: absolute;
  bottom: 16%;
  left: 44%;
}

.carousel__slick-dots ul li {
  margin: 0 5px;
  list-style: none;
  background-color: white;
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 2px solid rgb(228, 0, 43);
  border-radius: 50%;
}

.carousel__slick-dots ul .color {
  background-color: #e4002b;
}

/* PRODUCTS */

.products {
  margin-top: 65px;
}

.products__content {
  float: left;
  width: 22%;
}

.products__content h3 {
  color: #707070;
  font-size: 16px;
  padding: 0 36px 18px;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
}

.products__content a {
  font-weight: bold;
  color: #e4002b;
  padding: 9px 18px 9px 36px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.products__intro {
  float: left;
  width: 78%;
}
.products__intro h2 {
  text-transform: uppercase;
  font-size: 40px;
  padding: 0 22px 18px;
  line-height: 1.2;
  font-family: "Asap Condensed", sans-serif;
  margin: 0;
}

.menu {
  float: left;
  width: 33.33%;
  padding: 0 22px;
}

.menu__item {
  border-radius: 3%;
  box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.075);
  margin-bottom: 44px;
}

.menu__item img {
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  width: 100%;
}

.item__body {
  padding: 18px 14px;
}

.products__items .item__body h5,
h6,
li {
  font-size: 16px;
  text-align: left;
  margin: 0;
  display: block;
}

.products__items .item__body h5 {
  padding: 10px 0 18px;
}

.price {
  font-size: 20px;
  margin-right: -4px;
}

.listItems {
  padding-left: 18px;
}

.item__body ul li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.item__body ul {
  color: rgb(112, 112, 112);
  list-style-type: disc;
  padding: 0;
}

.click {
  display: block;
  padding-bottom: 5px;
}
.item__body i {
  content: "\f107";
  font-size: 20px;
  color: rgb(112, 112, 112);
  margin-left: 47%;
  line-height: 0.5;
}

.order-lg-1 {
  float: left;
  width: 50%;
  padding: 5px;
}

.order-lg-1 a {
  border: 1px solid;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  padding: 7px;
  display: block;
}

.order-lg-1 span {
  display: block;
  text-align: center;
}

.order-lg-2 {
  float: left;
  width: 50%;
  padding: 5px;
}

.order-lg-2 a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #e4002b;
  display: block;
  padding: 7px;
}

.order-lg-2 span {
  display: block;
  text-align: center;
}

/* PROGRAMS */

.program {
  margin: 30px 0;
  padding-bottom: 30px;
}

.program1 {
  float: left;
  width: 50%;
  padding-right: 15px;
}

.program1 img {
  width: 100%;
}

.program2 {
  float: left;
  width: 50%;
  padding-left: 15px;
}

.program2 img {
  width: 100%;
}

/* FOOTER */

.footer {
  background-color: #fafafa;
  margin-top: 25px;
}

.footer__contact {
  padding: 60px 350px;
}

.footer__contact img {
  width: 94%;
}

.infor1,
.infor2,
.infor3 {
  float: left;
  width: 22%;
}

.footer__infor a {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.infor2__card a,
.infor3__card a {
  font-weight: normal;
  font-size: 16px;
  text-transform: none;
}

.infor_contact {
  float: left;
  width: 34%;
}

.contact1,
.contact2 {
  float: left;
  width: 50%;
}

.contact1 {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.contact1__card a {
  text-transform: none;
  font-weight: normal;
}

.contact2 {
  margin: 0;
}

.contact2__icon1,
.contact2__icon2,
.contact2__icon3 {
  float: left;
  width: 33.33%;
  margin-left: 8.8px;
  margin-top: -14px;
}

.contact2 a {
  display: block;
  padding: 0;
}

.contact2__icon3 {
  padding-right: 0;
  width: 32px;
}

.contact2 img {
  height: 32px;
  width: 100%;
}

.contact2__icon1 {
  width: 32px;
}

.contact3 {
  float: left;
  width: 100%;
  padding: 30px 0;
}

.contact3__header {
  margin: 0;
  padding: 0 0 7.5px;
}

.contact3__header h5 {
  font-size: 14px;
  margin: 0;
}

.enter {
  float: left;
  width: 67%;
}

.form-control {
  display: inline-block;
  border: 1px #ced4da;
  padding: 11.5px;
  border-radius: 5px;
  font-family: "Asap";
  box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.075);
  width: 100%;
}

.confirm {
  float: right;
  width: 33%;
  padding-left: 13px;
}

.confirm a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #e4002b;
  display: block;
  padding: 6.75px 13.5px;
  text-align: center;
}
